<p id="notice"><%= notice %></p>
	<div class="row">
		<% @images.each do |image| %>
			<div class="col-md-3">
				<%= image_tag image.image_url(:index_version) %><br>
				<strong>
					<%= link_to image.name, image_path(image) %>
				</strong>
				<br>
				<p class="myText">
					By: <%= image.user.name %>
				</p>
			</div>
		<% end %>
	</div>
